* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}
li {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 5px;
  transition: box-shadow 1s;
  margin: 7px;
}
li:hover {
  box-shadow: none;
  box-shadow: 0px 3px 3px #515151;
  cursor: pointer;
}
/* TITLE */
.title {
  font-size: 100px;
}

/* STARTING LIST */
